/*** Spinner Start ***/

#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .8s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .8s ease-out, visibility 0s linear .0s;
    visibility: visible;
    opacity: 1;
}

.physique {
    display: none;
}

.individual {
    display: none;
}

/*** Login**/
.Btn1 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition-duration: 0.3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
    background-color: RGB(29, 185, 84);
}

/* plus sign */
.sign {
    width: 100%;
    transition-duration: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sign svg {
    width: 18px;
}

.sign svg path {
    fill: black;
}

/* text */
.text {
    position: absolute;
    right: 0%;
    width: 0%;
    opacity: 0;
    color: black;
    font-size: 1.2em;
    font-weight: 600;
    transition-duration: 0.3s;
}

/* hover effect on button width */
.Btn1:hover {
    width: 125px;
    border-radius: 40px;
    transition-duration: 0.3s;
}

.Btn1:hover .sign {
    width: 30%;
    transition-duration: 0.3s;
    padding-left: 20px;
}

/* hover effect button's text */
.Btn1:hover .text {
    opacity: 1;
    width: 70%;
    transition-duration: 0.3s;
    padding-right: 10px;
}

/* button click effect*/
.Btn1:active {
    transform: translate(2px, 2px);
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #ffffff;
    margin: 50px auto;
    /* Ajoutez "auto" pour centrer horizontalement */
    padding: 30px;

    border-radius: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


::placeholder {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.form button {
    align-self: flex-end;
}

.flex-column>label {
    color: #151717;
    font-weight: 600;
}

.inputForm {
    border: 1.5px solid #ecedec;
    border-radius: 10px;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    transition: 0.2s ease-in-out;
}

.input {
    margin-left: 10px;
    border-radius: 10px;
    border: none;
    width: 100%;
    height: 100%;
}

.input:focus {
    outline: none;
}

.inputForm:focus-within {
    border: 1.5px solid #2d79f3;
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
}

.flex-row>div>label {
    font-size: 14px;
    color: black;
    font-weight: 400;
}

.span {
    font-size: 14px;
    margin-left: 5px;
    color: #2d79f3;
    font-weight: 500;
    cursor: pointer;
}


.p {
    text-align: center;
    color: black;
    font-size: 14px;
    margin: 5px 0;
}

/****/


.form1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: auto;
    max-width: 350px;
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    position: relative;
}

.title {
    font-size: 28px;
    color: royalblue;
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;
}

.title::before,
.title::after {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 0px;
    background-color: royalblue;
}

.title::before {
    width: 18px;
    height: 18px;
    background-color: royalblue;
}

.title::after {
    width: 18px;
    height: 18px;
    animation: pulse 1s linear infinite;
}

.message,
.signin {
    color: rgba(88, 87, 87, 0.822);
    font-size: 14px;
}

.signin {
    text-align: center;
}

.signin a {
    color: royalblue;
}

.signin a:hover {
    text-decoration: underline royalblue;
}

.flex {
    display: flex;
    width: 100%;
    gap: 6px;
}

.form1 label {
    position: relative;
}

.form1 label .input {
    width: 100%;
    padding: 10px 10px 20px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;
}

.form1 label .input+span {
    position: absolute;
    left: 10px;
    top: 15px;
    color: grey;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
}

.form1 label .input:placeholder-shown+span {
    top: 15px;
    font-size: 0.9em;
}

.form1 label .input:focus+span,
.form1 label .input:valid+span {
    top: 30px;
    font-size: 0.7em;
    font-weight: 600;
}

.form1 label .input:valid+span {
    color: green;
}



@keyframes pulse {
    from {
        transform: scale(0.9);
        opacity: 1;
    }

    to {
        transform: scale(1.8);
        opacity: 0;
    }
}

/*  ENd*/

/*** Spinner End ***/

.back-to-top {
    position: fixed;
    right: 30px;
    bottom: 30px;
    display: flex;
    width: 45px;
    height: 45px;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    z-index: 99;
}

/*** Button Start ***/
.btn {
    font-weight: 600;
    transition: .5s;
}

.btn-square {
    width: 32px;
    height: 32px;
}

.btn-sm-square {
    width: 34px;
    height: 34px;
}

.btn-md-square {
    width: 44px;
    height: 44px;
}

.btn-lg-square {
    width: 56px;
    height: 56px;
}

.btn-square,
.btn-sm-square,
.btn-md-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}

.btn-hover-bg {
    transition: 0.5s;
}

.btn-hover-bg:hover {
    background: rgba(37, 67, 54, 0.25) !important;
    color: rgba(37, 67, 54, 0.25) !important;
}

.btn-hover-color {
    transition: 0.5s;
}

.btn-hover-color:hover {
    color: var(--bs-secondary) !important;
}

/*** Topbar Start ***/
.fixed-top .container {
    transition: 0.5s;
    max-width: 100%
}

.topbar {
    padding: 2px 10px 2px 20px;
    background: black !important;
}

.topbar a,
.topbar a i {
    transition: 0.5s;
}

.topbar a:hover,
.topbar a i:hover {
    color: var(--bs-secondary) !important;
}


@media (max-width: 768px) {
    .topbar {
        display: none;
    }




}

/*** Topbar End ***/


/*** Navbar Start ***/
/* Animation pour l'image dans le carrousel */
@keyframes slideIn {
    0% {
        transform: translateY(-50px);
        /* Déplacer l'image vers le haut */

        opacity: 0.5;
        /* Commencer avec une opacité nulle */
    }

    100% {
        transform: translateY(0);
        /* Revenir à la position originale */
        opacity: 1;
        /* Pleine opacité à la fin de l'animation */
    }
}

.carousel-item img {
    animation: slideIn 1s ease-out;
    /* Utilisation de l'animation avec durée 1 seconde */
}

.navbar {
    padding: 0 80px 0 0;
    background-color: rgba(37, 67, 54, 0.5);

}

.navbar .navbar-nav .nav-link {
    padding: 10px 15px;
    font-size: 16px;
    transition: .5s;
}

.navbar :hover {
    color: rgba(37, 67, 54, 1);
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active,
.sticky-top.bg-white .navbar .navbar-nav .nav-link:hover,
.sticky-top.bg-white .navbar .navbar-nav .nav-link.active {
    color: white;
}

.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    vertical-align: middle;
    margin-left: 8px;
}

@media (min-width: 1200px) {


    .navbar .nav-item .dropdown-menu {
        display: block;
        visibility: hidden;
        top: 100%;
        transform: rotateX(-75deg);
        transform-origin: 0% 0%;
        border: 0;
        transition: .5s;
        opacity: 0;
        color: white;
    }

}

#logo {
    width: 8%;
    border-radius: 25px
}

@media (max-width: 1200px) {
    .navbar .collapse.navbar-collapse .btn-hover-bg.btn {
        margin-bottom: 20px;
    }

    .donation .donation-item .donation-btn {
        visibility: visible;
        opacity: 1;
        transition: 0.5s;
    }

}


/* Pour les écrans de moins de 768px */
@media (max-width: 768px) {
    #logo {
        width: 20%;
        /* Ajustez la taille selon vos besoins */
    }
}

@media (max-width: 1000px) {



    .navbar-toggler {
        position: absolute;
        top: 10px;
        right: 15px;
        /* Positionnement absolu dans le coin supérieur droit */
    }

    .popup-window {
        transform: scale(var(--nav-default-scale));
        visibility: hidden;
        opacity: 0;
        position: absolute;
        padding: var(--nav-padding-y) var(--nav-padding-x);
        background: var(--nav-bg);
        font-family: var(--nav-font-family);
        color: var(--nav-text-color);
        border-radius: var(--nav-border-radius);
        box-shadow: var(--nav-shadow-width) var(--nav-shadow-color);
        border: var(--nav-border-width) solid var(--nav-border-color);
        top: calc(var(--burger-diameter) + var(--burger-enable-outline-width) + var(--burger-enable-outline-offset));
        left: 50%;
        transform: translateX(-50%);
        width: 500%;
        /* Utilisation d'une largeur en pourcentage */
        max-width: 500%;
        /* Largeur maximale en pourcentage pour un meilleur ajustement sur petits écrans */
        transition: var(--burger-transition);
        margin-top: 10px;
    }

    .popup {
        display: inline-block;
        text-rendering: optimizeLegibility;
        position: relative;
        left: 50%;
    }
}


.dropdown .dropdown-menu a:hover {
    background: rgba(37, 67, 54, 1);
    color: white;
}



.dropdown-menu .dropdown-submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: 0px;
    background: white;
    list-style: none;
}

.dropdown-menu>li:hover>.dropdown-submenu {
    display: block;
}

.dropdown-menu>li:focus>.dropdown-submenu {
    display: block;
}

/* CSS pour les petits écrans */
@media (max-width: 768px) {

    .dropdown-menu .dropdown-submenu {
        display: none;
        position: static;
        /* Changer de position absolue à statique pour que le sous-menu s'affiche dans le flux du document */
        background: white;
        list-style: none;
    }

    .dropdown-menu>li:hover>.dropdown-submenu,
    .dropdown-menu>li:focus-within>.dropdown-submenu {
        display: block;
        /* Afficher le sous-menu lorsque l'élément parent est survolé ou en focus */
        left: 0;
        top: 0;
        /* Positionner le sous-menu en haut de l'élément parent */
        width: 100%;
        /* Assurer que le sous-menu occupe toute la largeur disponible */
    }
}


.navbar .nav-item:hover .dropdown-menu {
    transform: rotateX(0deg);
    visibility: visible;
    background: var(--bs-light) !important;
    transition: .5s;
    opacity: 1;
}

/* The design is inspired from Galahhad*/

.popup {
    --burger-line-width: 1.125em;
    --burger-line-height: 0.125em;
    --burger-offset: 0.625em;
    --burger-bg: #00bf63;
    --burger-color: #333;
    --burger-line-border-radius: 0.1875em;
    --burger-diameter: 3.125em;
    --burger-btn-border-radius: calc(var(--burger-diameter) / 2);
    --burger-line-transition: 0.3s;
    --burger-transition: all 0.1s ease-in-out;
    --burger-hover-scale: 1.1;
    --burger-active-scale: 0.95;
    --burger-enable-outline-color: var(--burger-bg);
    --burger-enable-outline-width: 0.125em;
    --burger-enable-outline-offset: var(--burger-enable-outline-width);
    /* nav */
    --nav-padding-x: 0.25em;
    --nav-padding-y: 0.625em;
    --nav-border-radius: 0.375em;
    --nav-border-color: #ccc;
    --nav-border-width: 0.0625em;
    --nav-shadow-color: rgba(0, 0, 0, 0.2);
    --nav-shadow-width: 0 1px 5px;
    --nav-bg: #eee;
    --nav-font-family: "Poppins", sans-serif;
    --nav-default-scale: 0.8;
    --nav-active-scale: 1;
    --nav-position-left: 0;
    --nav-position-right: unset;
    /* if you want to change sides just switch one property */
    /* from properties to "unset" and the other to 0 */
    /* title */
    --nav-title-size: 0.625em;
    --nav-title-color: #777;
    --nav-title-padding-x: 1rem;
    --nav-title-padding-y: 0.25em;
    /* nav button */
    --nav-button-padding-x: 1rem;
    --nav-button-padding-y: 0.375em;
    --nav-button-border-radius: 0.375em;
    --nav-button-font-size: 17px;
    --nav-button-hover-bg: #00bf63;
    --nav-button-hover-text-color: #fff;
    --nav-button-distance: 0.875em;
    /* underline */
    --underline-border-width: 0.0625em;
    --underline-border-color: #ccc;
    --underline-margin-y: 0.3125em;
}

/* popup settings 👆 */

.popup {
    display: inline-block;
    text-rendering: optimizeLegibility;
    position: relative;
}

.popup input {
    display: none;
}

.burger {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    background: var(--burger-bg);
    width: var(--burger-diameter);
    height: var(--burger-diameter);
    border-radius: var(--burger-btn-border-radius);
    border: none;
    cursor: pointer;
    overflow: hidden;
    transition: var(--burger-transition);
    outline: var(--burger-enable-outline-width) solid transparent;
    outline-offset: 0;
}

.popup-window {
    transform: scale(var(--nav-default-scale));
    visibility: hidden;
    opacity: 0;
    position: absolute;
    padding: var(--nav-padding-y) var(--nav-padding-x);
    background: var(--nav-bg);
    font-family: var(--nav-font-family);
    color: var(--nav-text-color);
    border-radius: var(--nav-border-radius);
    box-shadow: var(--nav-shadow-width) var(--nav-shadow-color);
    border: var(--nav-border-width) solid var(--nav-border-color);
    top: calc(var(--burger-diameter) + var(--burger-enable-outline-width) + var(--burger-enable-outline-offset));
    left: 50%;
    transform: translateX(-50%);
    width: 240%;
    transition: var(--burger-transition);
    margin-top: 10px;
}


.popup-window legend {
    padding: var(--nav-title-padding-y) var(--nav-title-padding-x);
    margin: 0;
    color: var(--nav-title-color);
    font-size: var(--nav-title-size);
    text-transform: uppercase;
}

.popup-window ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.popup-window ul button {
    outline: none;
    width: 100%;
    border: none;
    background: none;
    display: flex;
    align-items: center;
    color: var(--burger-color);
    font-size: var(--nav-button-font-size);
    padding: var(--nav-button-padding-y) var(--nav-button-padding-x);
    white-space: nowrap;
    border-radius: var(--nav-button-border-radius);
    cursor: pointer;
    column-gap: var(--nav-button-distance);
}

.popup-window ul li:nth-child(1) svg,
.popup-window ul li:nth-child(2) svg {
    color: #00bf63;
}

.popup-window ul li:nth-child(4) svg,
.popup-window ul li:nth-child(5) svg {
    color: rgb(153, 153, 153);
}

.popup-window ul li:nth-child(7) svg {
    color: red;
}

.popup-window hr {
    margin: var(--underline-margin-y) 0;
    border: none;
    border-bottom: var(--underline-border-width) solid var(--underline-border-color);
}

/* actions */

.popup-window ul button:hover,
.popup-window ul button:focus-visible,
.popup-window ul button:hover svg,
.popup-window ul button:focus-visible svg {
    color: var(--nav-button-hover-text-color);
    background: var(--nav-button-hover-bg);
}

.burger:hover {
    transform: scale(var(--burger-hover-scale));
}

.burger:active {
    transform: scale(var(--burger-active-scale));
}

.burger:focus:not(:hover) {
    outline-color: var(--burger-enable-outline-color);
    outline-offset: var(--burger-enable-outline-offset);
}

.popup input:checked+.burger span:nth-child(1) {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}

.popup input:checked+.burger span:nth-child(2) {
    bottom: 50%;
    transform: translateY(50%) rotate(-45deg);
}

.popup input:checked+.burger span:nth-child(3) {
    transform: translateX(calc(var(--burger-diameter) * -1 - var(--burger-line-width)));
}

.popup input:checked~nav {
    transform: scale(var(--nav-active-scale));
    visibility: visible;
    opacity: 1;
}


/*** Navbar End ***/

/*** Carousel Start ***/
.carousel-header #carouselId .carousel-control-prev,
.carousel-header #carouselId .carousel-control-next {
    background: transparent;


}

.carousel-header #carouselId .carousel-inner .carousel-item {
    position: relative;
    min-height: 100vh;

}

.carousel-header #carouselId .carousel-inner .carousel-item.active {
    opacity: 1;
}

.carousel-header #carouselId .carousel-inner .carousel-item img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-header #carouselId .carousel-inner .carousel-item .carousel-caption {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, 0.4));
    background-size: cover;
}

.carousel-control-prev,
.carousel-control-next {
    opacity: 0;
}

.carousel-control-prev .carousel-control-prev-icon,
.carousel-control-next .carousel-control-next-icon {
    background: transparent !important;
}

.carousel-header #carouselId.carousel {
    position: relative;
}

.carousel-header #carouselId.carousel .carousel-indicators {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent !important;
}

.carousel-header #carouselId.carousel .carousel-indicators li,
.carousel-header #carouselId.carousel .carousel-indicators li,
.carousel-header #carouselId.carousel .carousel-indicators li {
    margin-right: 30px !important;
}

.carousel-header #carouselId.carousel .carousel-indicators li {
    width: 12px;
    height: 12px;
    border-radius: 12px !important;
    border: 5px solid transparent;
    transition: 0.5s;

}

.carousel-header #carouselId.carousel .carousel-indicators li.active {
    border: 5px solid var(--bs-primary) !important;
    border-radius: 10px;
}

.testimonial-carousel-control-prev-icon,
.testimonial-carousel-control-next-icon {

    /* Add background color for better visibility */

    /* Make them circular */
    width: 50%;
    height: 100px;
}

.testimonial-carousel-control-prev,
.testimonial-carousel-control-next {
    background-color: rgba(37, 67, 54, 1);
    width: 4%;
    /* Adjust width of control areas */
    margin: 0 10px;
    /* Add margin for spacing */
}

.testimonial-carousel-control-prev:hover,
.testimonial-carousel-control-next:hover {
    background-color: rgba(0, 0, 0, 0.7);
    /* Darker background on hover */
}

.testimonial-carousel-control-prev-icon::before {
    content: '\2039';
    /* Unicode for left arrow */
    font-size: 2rem;
    color: white;
}

.testimonial-carousel-control-next-icon::before {
    content: '\203A';
    /* Unicode for right arrow */
    font-size: 2rem;
    color: white;
}

/***/
.testimonial1-carousel-control-prev,
.testimonial1-carousel-control-next {
    background-color: rgba(37, 67, 54, 1);
    width: 50px;
    right: 0;

    margin: 0 10px;

    /* Assure que les boutons sont au-dessus du contenu */
}


.testimonial1-carousel-control-prev:hover,
.testimonial1-carousel-control-next:hover {
    background-color: rgba(0, 0, 0, 0.7);
    /* Fond plus foncé au survol */
}

.testimonial1-carousel-control-prev-icon::before {
    content: '\2039';
    /* Unicode pour la flèche vers la gauche */
    font-size: 2rem;
    color: white;
}

.testimonial1-carousel-control-next-icon::before {
    content: '\203A';
    /* Unicode pour la flèche vers la droite */
    font-size: 2rem;
    color: white;
}

.testimonial1-carousel-control-prev-icon,
.testimonial1-carousel-control-next-icon {
    width: 100%;
    height: 100%;
}




/*** Carousel End ***/
/**/

.required {
    color: red;
    /* Couleur de l'astérisque */
}

/* Stylisation des libellés en fonction de leur validité */
label:after {
    content: "*";
    color: red;
    font-weight: bold;
    margin-left: 5px;
    display: none;
}

input:invalid+label:after {
    display: inline;
}

textarea:invalid+label:after {
    display: inline;
}

/**/



/*** Single Page Hero Header Start ***/
.bg-breadcrumb {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/genese.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0 0 0;
}

/*** Single Page Hero Header End ***/


/*** About Start ***/
.about .tab-class .nav .nav-item a.active,
.about .tab-class .nav .nav-item a.active span {
    background: rgba(37, 67, 54, 1) !important;
    color: var(--bs-white) !important;
}

.color-bg {
    background: rgba(37, 67, 54, 0.5);
    ;
}

.about-image {
    height: 400px;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.color-bg a {
    color: #FFE800;
}

.color-bg h6,
.color-bg p {
    color: white;
}

.color-bg h6::after {
    border-color: #fff;
}

.color-bg .weight-outline-btn {
    color: white;
    border-color: white;
}

.color-bg .weight-outline-btn:hover {
    background: #FFF;
    color: #E04343;
    border-color: rgba(0, 0, 0, 0);
}

.nopadding {
    padding: 0;
}

.about-text {
    padding: 20px 50px 25px 50px;
}

.about-text h1 {
    text-transform: uppercase;
    font-size: 24px;
    color: #8C8C8C;
}

.about-text h6 {
    text-transform: uppercase;
    font-size: 34px;
    color: rgba(37, 67, 54, 1);
}

.color-bg h1.arrow span {
    color: #FFE800;
}

.color-bg h1.arrow {
    color: #FFF;
}

/*** About End ***/


/*** Service Start ***/
.service .service-item {
    position: relative;
    overflow: hidden;
}

.service .service-item .service-link {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 20px;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: end;
    background: rgba(0, 0, 0, 0.3);
    transition: 0.5s;
}

.service .service-item .service-link:hover {
    background: rgba(0, 0, 0, 0.6);
}

.service .service-item .service-link a {
    color: var(--bs-white);
    transition: 0.5s;
}

.service .service-item img {
    transition: 0.5s;
}

.service .service-item:hover img {
    transform: scale(1.2);
}

.service .service-item .service-link:hover a:hover {
    color: var(--bs-primary);
}

/*** Service End ***/


/*** Donation Start ***/
.donation .donation-item {
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.donation .donation-item::after {
    width: 100%;
    height: 100%;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    display: flex;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
}


.donation .donation-item .donation-content {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 20px;
    justify-content: end;
    bottom: -60px;
    left: 0;
    transition: 0.5s;
    z-index: 3;
}

.donation .donation-item:hover .donation-content {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 20px;
    justify-content: end;
    bottom: 0px;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
}

.donation .donation-item .donation-btn {
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

.donation .donation-item:hover .donation-btn {
    visibility: visible;
    opacity: 1;
}


/*** Donation End ***/


/*** Counter Start ***/
.counter .counter-item .counter-counting {
    width: 100%;
    text-align: center;
    border-style: dotted;
    border-color: var(--bs-white);
    font-size: 30px;
}

/*** Counter End ***/


/*** causes Start ***/
.causes .causes-item {
    overflow: hidden;
}

.causes .causes-item .causes-img {
    position: relative;
    transition: 0.5s;
}

.causes .causes-item .causes-img .causes-link {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0 !important;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: end;
    background: rgba(0, 0, 0, .2);
    transition: 0.5s;
}

.causes .causes-item .causes-img:hover .causes-link {
    background: rgba(0, 0, 0, .6);
}

.causes .causes-item .causes-img img {
    transition: 0.5s;
}

.causes .causes-item .causes-img:hover img {
    transform: scalex(-1);
}

.causes .causes-item .causes-img .causes-dination {
    position: absolute;
    top: 0;
    right: 0;
}

.causes .causes-item .causes-img .causes-dination a {
    font-size: 14px;
}

.causes .causes-item .causes-content {
    background: rgba(37, 67, 54, 0.5);
    ;
    border-color: var(--bs-white);
    border-style: dotted;
    border-top: 0;

}

.causes .causes-item .progress {
    height: 10px;
    overflow: visible;
}

.causes .causes-item .progress .progress-bar {
    position: relative;
    width: 0;
    overflow: visible;
    background: var(--bs-primary);
    transition: 2s;
}

.causes .causes-item .progress .progress-bar span {
    position: absolute;
    top: 50%;
    right: -1px;
    transform: translateY(-50%);
    padding: 1px 5px;
    font-size: 12px;
    color: var(--bs-white);
    background: var(--bs-dark);
    z-index: 1;
}

/*** causes End ***/
/***/




/*** Events Start ***/
.event .event-carousel.owl-carousel {
    position: relative;
}

.event .event-carousel.owl-carousel .owl-nav .owl-prev {
    position: absolute;
    top: -60px;
    left: 0;
    width: 80px;
    height: 40px;
    border: 1px solid var(--bs-primary);
    background: var(--bs-primary);
    color: var(--bs-white);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}

.event .event-carousel.owl-carousel .owl-nav .owl-next {
    position: absolute;
    top: -60px;
    right: 0;
    width: 80px;
    height: 40px;
    border: 1px solid var(--bs-primary);
    background: var(--bs-primary);
    color: var(--bs-white);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}

.event .event-carousel.owl-carousel .owl-nav .owl-prev:hover,
.event .event-carousel.owl-carousel .owl-nav .owl-next:hover {
    background: var(--bs-secondary);
    color: var(--bs-primary);
}

.event .event-carousel .event-item .event-content {
    border-style: dotted;
    border-top: 0;
    border-color: var(--bs-white);
    background: rgba(37, 67, 54, 0.5);
}

.logout_petit_ecran {
    display: none;
}

#eventss {
    display: none;
}

@media (max-width : 600px) {
    .logout_petit_ecran {
        display: block;
    }

    .Btn1 {
        display: none;
    }

}

@media (max-width: 600px) {
    #eventss {
        display: inline-block;
    }
}


/*** Events End ***/


/*** Blog Start ***/
.blog .blog-item .blog-img {
    position: relative;
    overflow: hidden;
}

.blog .blog-item .blog-img .blog-info {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    padding: 20px;
    background: rgba(0, 0, 0, .2);
    color: var(--bs-white) !important;
    display: flex;
    align-items: end;
    justify-content: space-between;
    transition: 0.5s;
}

.blog .blog-item .blog-img:hover .blog-info {
    background: rgba(0, 0, 0, .6);
}


.blog .blog-item .blog-img .search-icon {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: 0.5s;
}

.blog .blog-item .blog-img img {
    transition: 0.5s;
}

.blog .blog-item .blog-img:hover img {
    transform: scale(1.3);
}

.blog .blog-item .blog-img:hover .search-icon {
    opacity: 1;
}

/*** Blog End ***/

/*** Gallery Start ***/
.gallery .gallery-item {
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.gallery .gallery-item img {
    transition: 0.5s;
}

.gallery .gallery-item:hover img {
    transform: scale(1.2);
}

.gallery .gallery-item .gallery-content {
    position: absolute;
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    background: rgba(249, 195, 123, .4);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: end;
    transition: 0.5s;
    z-index: 2;
}

.gallery .gallery-item:hover .gallery-content {
    height: 100%;
}

.gallery .gallery-item .gallery-content .gallery-inner {
    transition: 0.5s;
    background: rgba(0, 0, 0, 0.1);
    padding-top: 40px;
}

.gallery .gallery-item:hover .gallery-content .gallery-inner {
    background: rgba(249, 195, 123, 1);
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.gallery .gallery-item .search-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: -80px;
    opacity: 0;
    transition: 0.5s;
    z-index: 3;
}

.gallery .gallery-item:hover .search-icon {
    opacity: 1;
}

/*** Gallery End ***/


/*** Volunteer Start ***/
.volunteer {
    background: rgba(249, 195, 123, .1);
}

.volunteer .volunteer-img {
    position: relative;
    overflow: hidden;
}

.volunteer .volunteer-img .volunteer-title {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    padding: 10px;
    background: rgba(0, 0, 0, .1);
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: end;
    transition: 0.5s;
}

.volunteer .volunteer-img:hover .volunteer-title {
    background: rgba(0, 0, 0, .5);
}

.volunteer .volunteer-img img {
    transition: 0.5s;
}

.volunteer .volunteer-img:hover img {
    transform: scale(1.2);
}

/*** Volunteer End ***/


/*** Contact Start ***/
.contact {
    background-color: rgba(37, 67, 54, 0.5);
    border-style: dotted;
    border-color: var(--bs-white);
}

/*** Contact End ***/


/*** Footer Start ***/
.footer {
    border-top: 3px;
    border-right: 0;
    border-bottom: 0;
    border-left: 0;
    border-style: dotted;
    border-color: var(--bs-light);
}

.footer .footer-item a,
.footer .footer-item p {
    line-height: 35px;
    color: var(--bs-body);
    transition: 0.5s;
}

.footer .footer-item a:hover {
    color: var(--bs-primary);
    letter-spacing: 1px;
}

.footer .footer-item .footer-gallery {
    position: relative;
    overflow: hidden;
}

.footer .footer-item .footer-gallery img {
    transition: 0.5s;
}

.footer .footer-item .footer-gallery:hover img {
    transform: scale(1.2);
}

.footer .footer-item .footer-gallery .footer-search-icon {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    opacity: 0;
}

.footer .footer-item .footer-gallery:hover .footer-search-icon {
    opacity: 1;
    background: rgba(0, 0, 0, .6);
}

/*** Footer End ***/

/*** copyright Start ***/
.copyright {
    border-top: 1px solid rgba(255, 255, 255, 0.08);
    background: var(--bs-dark) !important;
}

@media (max-width: 768px) {
    .footer {
        padding: 20px;
    }
}

/*** copyright end ***/